.DS_Store
*.swp

manuscript/machine_learning_book/*.log
manuscript/machine_learning_book/*.out
manuscript/machine_learning_book/*.aux
manuscript/machine_learning_book/*.toc
manuscript/machine_learning_book/*.pdf
manuscript/machine_learning_book/_minted*

manuscript/machine_learning_book/*/*.log
manuscript/machine_learning_book/*/*.out
manuscript/machine_learning_book/*/*.aux
manuscript/machine_learning_book/*/*.toc
manuscript/machine_learning_book/*/*.pdf
manuscript/machine_learning_book/*/_minted*

manuscript/machine_learning_book/*/*/*.log
manuscript/machine_learning_book/*/*/*.out
manuscript/machine_learning_book/*/*/*.aux
manuscript/machine_learning_book/*/*/*.toc
manuscript/machine_learning_book/*/*/*.pdf
manuscript/machine_learning_book/*/*/_minted*

